.homes {
/*    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    height: 100vh; 
    margin-top: 0px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: white;
    
}
a{
    text-decoration: none;
}

footer {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.teach_on_udemy{
    margin-right:40px;

}

.search-bar {
    flex: 1;
    margin: 0 20px;
    position: relative;
}

.search-bar input {
    width: 70%;
    height: 35px;
    padding: 8px 30px 8px 10px;
    border: 1px solid #ddd;
    border-radius: 100px;
    background-size: 20px;
}
header {
    background-color: white;
    padding: 1em;
    text-align: center;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
}
.udemy-image{
    width: 100px;
    height: 50px;
}
.category{
    text-decoration: none;
    color:black;
    margin-left: 40px;
    font-size: 17px;
}
.category:hover{
    color: purple;
}
