/* SectionPreviewComponent.css */
.sectioncontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.sectiontitle {
    background-color:white;
    padding: 10px;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.sectiontitle h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}
